.contact-page {
	background-color: #000;
	height: 20vh;
	color: #fff;
	line-height: 2;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	cursor: default;
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 1.3rem;
	}
	.icons a {
		margin: 0 2rem;
	}
}

@media only screen and (max-width: 700px) {
	.contact-page {
		height: auto;
	}
}
