.home-page {
	height: 100vh;
	background-color: #141628;
	font-family: "Open Sans", sans-serif;
	color: #fff;

	.content {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.text {
			margin-left: 6rem;
			h1 {
				font-size: 6rem;
				line-height: 1.8;
			}
			p {
				font-size: 3rem;
				line-height: 1.2;
			}
			span {
				color: #fd4370;
			}
		}
		.icons {
			margin-right: 5rem;
			i {
				margin: 0 1rem;
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.home-page {
		.content {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			.text {
				margin-left: 0;
				p {
					line-height: 1.2;
				}
			}
			.icons {
				margin-right: 0rem;
				i {
					margin: 0 2.5rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 800px) {
	.home-page {
		.content {
			.text {
				h1 {
					font-size: 2rem;
				}
				p {
					font-size: 1.5rem;
					line-height: 1.2;
				}
				height: 1px;
			}
			.icons {
				i {
					margin: 0 0.8rem;
					font-size: 2rem;
				}
			}
		}
	}
}
