.navbar-container {
	height: 6rem;
	background-color: #141628;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1;
	font-family: "Open Sans", sans-serif;
	.icon img {
		padding: 1.5rem;
		width: 3.5rem;
		border-radius: 50%;
	}
	.sections {
		width: 100%;
		display: flex;
		justify-content: right;
		gap: 2rem;
		padding-right: 3rem;
		span {
			cursor: pointer;
			color: #fff;
			font-size: 1.3rem;
		}
	}
}
@media only screen and (max-width: 600px) {
	.navbar-container {
		.sections {
			span {
				font-size: 1rem;
			}
		}
	}
}
