.navbar-container {
	background-color: #141628;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	position: fixed;
	z-index: 1;
	font-family: "Open Sans", sans-serif;
	.icon img {
		padding: 1.5rem;
		width: 3.5rem;
		border-radius: 50%;
	}
	.sections {
		span {
			cursor: pointer;
			color: #fff;
			font-size: 1.3rem;
			padding: 1rem;
		}
		span:hover {
			color: #8588b9;
			transition: all ease 0.5s;
		}
	}
}
@media only screen and (max-width: 600px) {
	.navbar-container {
		.sections {
			span {
				padding: 0.6rem;
				font-size: 1rem;
			}
		}
		.icon img {
			width: 3rem;
			border-radius: 50%;
		}
	}
}
